<div class="container">
  <div class="filter-container">
    <div class="row jumbotron">
      <div class="col-lg-12">
        <p class="mini-title mt-4">Change Details</p>
        <div class="cube">
          <form [formGroup]="changeDetails">
          <div class="row">
            <div class="col-lg-2" style="font-size: 20px;padding-top: 25px; vertical-align: middle;text-align: left">
              <label >Change ID :</label>
              <span class="font-weight-bold">{{changeId}}</span>
            </div>

              <div class="col-lg-2">
                <label>Description:</label>
                <input type="text" class="form-control" id="descriptionInput" formControlName="descriptionInput">
              </div>
              <div class="col-lg-2">
                <label>Project Name:</label>
                <select class="form-control" formControlName="projectInput" id="projectInput">
                  <option *ngFor="let v of projectList" value="{{v.mm_project_id}}"  >{{v.mm_project_name}}</option>
                </select>
              </div>
              <div class="col-lg-2">

                  <div class="form-group">
                      <label>Status:</label>
                      <select class="form-control" formControlName="statusInput" id="statusInput">
                        <option *ngFor="let v of statusList" value="{{v.mm_states_id}}"  >{{v.mm_states_name}}</option>
                      </select>
                  </div>
              </div>

            <div class="col-lg-4">
              <button type="button" class="btn box-shadow-input" style="margin-top: 30px;margin-right: 5px;" data-toggle="modal" data-target="#exampleModal">
                Create Request <i class="bi bi-plus-lg" style="font-size: 14px;"></i>
              </button>

              <button type="button" class="btn box-shadow-input" style="margin-top: 30px;margin-right: 5px;" (click)="changeEditAction(editActiveIndex)" >

                <span [ngClass]="editActiveClassAction" title="{{editActiveTitleAction}}"></span>
              </button>

              <a routerLink="/" class="btn box-shadow-input" style="margin-top: 30px;" title="Go Back"><i class="bi bi-arrow-return-left" ></i></a>
            </div>
          </div>
          </form>
        </div>
      </div>

      <div class="col-lg-12">
        <p class="mini-title mt-4">Marge Requests</p>
        <div class="cube">
          <span *ngIf="showList ; else loggedOut">
            <div class="scrollingDiv">
              <div class="row line"  *ngFor="let item of margeRequests">
                <div class="col-lg-10">
                  <div class="custom-link" (click)="setIframe(item.fullUrl)">
                    {{ item.fullUrl}}
                  </div>
                </div>
                <div class="col-lg-2" style="text-align: right;">
                  <button class="form-control trashButtonIcon" (click)="onDeleteRequestAlert(item.mm_mrs_id)" style="margin: initial;display: inline-block;margin-right: 5px;"><i class="bi bi-trash"></i></button>
                  <a href="{{ item.fullUrl}}" title="Direct Link" target="_blank" class="btn btn-primary demo-link-design"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </span>
          <ng-template #loggedOut>
            Requests Not Found
          </ng-template>
        </div>
      </div>

    </div>
  </div>
</div>

<div style="margin: auto;width: 98%">
  <iframe *ngIf="iframeUel" [src]='iframeUel' class="my-iframe" frameborder="0"
          webkitallowfullscreen mozallowfullscreen allowfullscreen>
  </iframe>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">

          <div class="form-group">
            <div *ngIf="displayError" class="danger-alert">* Url not Valid</div>
            <label for="urlString">URL</label>
            <input type="text"  formControlName="urlString" class="form-control" id="urlString" >
          </div>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

        <div class="modal-body" style="color: #000000;font-size: 18px;">
          Are you sure you want to continue?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger" (click)="onDeleteChange()">Delete</button>
        </div>

    </div>
  </div>
</div>
