
<div class="filter-container">
  <i class="bi bi-star-fill"></i>
  <div class="row">
    <div class="col-lg-2">
      <span class="filter-title">Changes</span>
    </div>
    <div class="col-10 col-lg-10">
      <form>
        <div class="form-row">
          <div class="col-md-4 mb-4"></div>
          <div class="col-md-4 mb-4 text-right"></div>
          <div class="col-md-4 mb-4 text-right">
            <!--<a routerLink="/create-change" class="btn-success btn">Create</a>-->
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
              Create
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">

      <table datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" >
        <thead>
        <tr>
          <th>Change ID <i class="fa fa-sort"></i> </th>
          <th>Change Name <i class="fa fa-sort"></i> </th>
          <th>Project Name <i class="fa fa-sort"></i></th>
          <th>Status <i class="fa fa-sort"></i></th>
          <th>Action <i class="fa fa-sort"></i></th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of itemList">
            <td>{{item.changeId}}</td>
            <td> <a routerLink="display-change/{{item.changeId }}">{{item.description}}</a></td>
            <td>{{item.projectName}}</td>
            <td>{{item.statusDescription}}</td>
            <td><i class="bi bi-trash"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Change</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">

            <div class="form-group">
              <label for="changeName">Change Name</label>
              <input type="text"  formControlName="changeName" class="form-control" id="changeName" >
            </div>
            <div class="form-group">
              <label for="projectName">Project</label>
              <select class="form-control" id="projectName" formControlName="projectName" (change)="onChooseProject($event)">
                <option  value="{{v.mm_project_id}}"  *ngFor="let v of projectList" >{{v.mm_project_name}}</option>
              </select>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
