@import "~bootstrap-icons/font/bootstrap-icons.css";

.dataTables_wrapper .dataTables_filter input{
  background: #FFFFFF !important;
}
.dataTables_wrapper .dataTables_length select {
  background: #ffffff !important;
}

.filter-container{
  padding: 10px;
  margin-top: 20px;
}

.trashButtonIcon{
  width: auto;
  margin: auto;
  background: #b03636;
  color: #ffffff;
  border: 0;
  -webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
}

.danger-alert{
  color: red;
  padding: 5px;
}

.custom-link{
  cursor: pointer;
  color: #06689c;
}

.trashButtonIcon:focus{
  background: red;
  color: #ffffff;
}

.box-shadow-input{
  -webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
  background: #00a7ff;
  color: #ffffff;
}

#main-table tr th{
  color:#7f7f7f;
  font-weight: normal;
  font-size: 14px;
}

#main-table tr td{
  color: #626262;
}

div#main-table_filter {
  padding-bottom: 20px;
}
